@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
table{
  max-width: 80vw;
  font-family: 'Roboto', sans-serif;
}
input{
  width: 100px;
}
img{
  width: 50%;
  height: auto;
}
input[type=radio]{
  color: black;
  display: none;
}

@media only screen and (max-width: 600px) {
.nav-link{
  text-align: center;
  font-size: 14px;
  vertical-align: middle;
}

}
.dropdown-menu {
  height: 150px;
  overflow-y: scroll;
}